/**************************************************

   index.css
   create : 2016/09/26
            c.osawa
   update : 2016/09/27
            c.osawa
  
   ポートフォリオページ
   https://chinatsuosawa.github.io/

   index.html用cssファイル
  
 **************************************************/

/**************************************************
  body
  
  background： 背景画像 設定
  background-size： 画面サイズに画像サイズを合わせる
  
 **************************************************/
body {
  background: url(./img/background.jpg) no-repeat center center;
  background-size: cover;
  margin: 0 15px;
}

/**************************************************
  .jumbotron
  
  background-color: 背景初期化（透明）
  
 **************************************************/
.jumbotron{
    background-color: transparent;
}

/**************************************************
  .jumbotron-container
  
  margin-top: 内側余白 上450px;
  transform: translateY(-14%);
  
 **************************************************/
.jumbotron-container {
  margin-top: 450px;
  transform: translateY(-14%);
}

/**************************************************
  .sitename
  
  margin-bottom: 内側余白 下10px;
  font-family:
  
 **************************************************/
.sitename{
  margin-bottom: 10px;
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

/**************************************************
  .myname
  
  margin-bottom: 内側余白 上10px;
  margin-bottom: 内側余白 下15px;
  font-family:
  
 **************************************************/
.myname{
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

/**************************************************
  .container-fluid p
  
  font-size: 14px;
  margin: 外側余白 上右0 下左5px
  padding: 内側余白 上下左右0
  font-family: 
  
 **************************************************/
.container-fluid p{
    font-size: 14px;
    margin: 0 0 5px 5px;
    padding: 0px;
    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

/**************************************************
  .btn-black
  
  border-radius: 角丸0;
  background-color: #000;
  color: #fff;
  font-family:
  
 **************************************************/
.btn-black {
    border-radius: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Avenir', serif;
}

/**************************************************
  .btn-black:hover
  
  background-color: #ccc;
  color: #fff;
  
 **************************************************/
.btn-black:hover {
     background-color: #ccc;
     color: #fff;
}

/**************************************************
  .myapp
  
  margin-top: 内側余白 上100px;

 **************************************************/
.myapp {
    margin-top: 100px;
}

/**************************************************
  .myapp h3
  
  margin-bottom: 内側余白 下20px;

 **************************************************/
.myapp h3 {
  margin-bottom: 20px;
}

/**************************************************
  .myapp figure
  
  text-align: 文字位置 中央

 **************************************************/
.myapp figure {
  text-align: center;
}

/**************************************************
  .myapp figcaption
  
  margin-top: 内側余白 上50px;
  margin-bottom: 内側余白 下10px;
  font-size: 15px;
  font-family: 

 **************************************************/
.myapp figcaption{
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 15px;
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

/**************************************************
  .myapp figcaption
  
  margin-top: 内側余白 上10px;
  font-size: 12px;
  font-family: 

 **************************************************/
.myapp p{
  margin-top: 10px;
  font-size: 12px;
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

/**************************************************
   Media Queries
  .myapp img
  
  width: ビューエリアが767px以下の場合、画像サイズを80%で表示
  
 **************************************************/
@media (max-width: 767px) {
  .myapp img {
    width: 80%;
  }
}

/**************************************************
   Media Queries
  .myapp img
  
  width: ビューエリアが768px以上の場合、画像サイズを100%で表示
  
 **************************************************/
@media (min-width: 768px) {
  .myapp img {
    width: 100%;
  }
}

/**************************************************
  footer

  margin: 外側余白 上下左右0
  padding: 内側余白 上下左右0
  font-size: 12px
  text-align: 文字位置 中央
  color:  文字色 設定

 **************************************************/
footer {
  margin: 0;
  padding: 0;
  font-size: 12px;
  text-align: center;
  color: #666;
}